@page "/users"
@using Microsoft.AspNetCore.Authorization
@inject IUserRepository userRepository
@inject IJSRuntime js

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@* Using the authorization by  attribute directive*@
@attribute [Authorize(Roles="Admin")]  

@* aA123456S! *@

<h3>Users</h3>
@if(Usuarios ==  null){
    <span>No user records</span>
}else{
      <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
            
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Usuarios)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td><button class="btn-primary" @onclick="@(()=>GetPDF(user))">PDF</button></td>
                </tr>
         
            }
        </tbody>
    </table>
}
@code{
    List<ApplicationUser> Usuarios { get; set; }
    ApplicationUser User { get; set; }

    /// <summary>
    /// Get User event click method
    /// and Calls CreateFile() Method
    /// </summary>
    private void GetPDF(ApplicationUser user) {
        User = user;
        CreateFile();
    }
    protected async override Task OnInitializedAsync() {
        var response = await userRepository.GetUsers();
        Usuarios = response;
        response.Count();

        System.Console.WriteLine($"UsrersList: {Usuarios.Count()}");
    }

    /// <summary>
    /// PDF Method for Create Pdf File
    /// </summary>
    private void CreateFile() {
        var pdf = new Report(User);
        pdf.Generate(js, 1);

    }
}