@page "/users"
@using Microsoft.AspNetCore.Authorization
@inject IUserRepository userRepository

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize(Roles="Admin")]  

@* aA123456S! *@

<h3>Users</h3>
@if(Usuarios ==  null){
    <span>No user records</span>
}else{
      <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
            
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Usuarios)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td><button class="btn-primary" @onclick="@(()=>GetPDF(item.Id))">PDF</button></td>
                </tr>
         
            }
        </tbody>
    </table>
}
@code{
    List<ApplicationUser> Usuarios { get; set; }
    
    private void GetPDF(string id){
        System.Console.WriteLine(id);
    }
    protected async override Task OnInitializedAsync() {
        var response = await userRepository.GetUsers();
        Usuarios = response;
        response.Count();
     
        System.Console.WriteLine($"UsrersList: {Usuarios.Count()}");
    }
}